@model  OnlineExam.Models.ApplicationUser


<div class="container">
    <div class="col-md-9">

        <div>

            <h3 style="line-height:2">@Model.Name 您好，系統已發送驗證信到您的電子信箱 @Model.Email</h3>
            <h5 style="line-height:2">驗證碼於<span class="text-danger">24小時內</span>有效，驗證成功即可重新設定您的密碼。</h5>
            <h5 style="line-height:2">
                系統將在<span class="text-danger countsec"></span>後自動跳轉回首頁

                @Html.ActionLink("(如無自動跳轉請點此返回首頁)", "Index", "Home")

            </h5>
        </div>

    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {

            setInterval(function () { myTimer() }, 1000);
            var count = 10;
            function myTimer() {
                if (count > 1) {
                    count--;
                    var str = count.toString() + "秒";
                    $(".countsec").html(str);
                } else {
                    window.location.assign('@Url.Action("Index", "Home")');
                }
            }

        })//end ready


    </script>
}


